*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	width: 100%;
}

.row:before, .row:after{
	content: "";
	display: table;
}

.row:after{
	clear: both;
}

[class*="col-"]{
	min-height: 7px;
	
	
}

.col-1{
	/*(1/12)*100*/
	width: 6.25%;
}

.col-2{
	/*(2/12)*100*/
	width: 12.5%;
}

.col-3{
	/*(3/12)*100*/
	width: 18.75%;
}

.col-4{
	/*(4/12)*100*/
	width: 25%;
}

.col-5{
	/*(5/12)*100*/
	width: 31.25%;
}

.col-6{
	/*(6/12)*100*/
	width: 37.5%;
}

.col-7{
	/*(7/12)*100*/
	width: 43.75%;
}

.col-8{
	/*(8/12)*100*/
	width: 50%;
}

.col-9{
	/*(9/12)*100*/
	width: 56.25%;
}

.col-10{
	/*(10/12)*100*/
	width: 62.5%;
}

.col-11{
	/*(11/12)*100*/
	width: 68.75%;
}

.col-12{
	/*(12/12)*100*/
	width: 75%;
}


.col-13{
	/*(9/12)*100*/
	width: 81.25%;
}

.col-14{
	/*(10/12)*100*/
	width: 87.5%;
}

.col-15{
	/*(11/12)*100*/
	width: 93.75%;
}

.col-16{
	/*(12/12)*100*/
	width: 100%;
}

.img-responsive{
	max-width: 100%;
	width: 100%;
}